<div class="navbar-component">
  <h1 class="logo">
    <span>Social</span>
    <span>Network</span>
  </h1>
  <div class="search-field">
    <input type="text" placeholder="Find . . ." class="search" />
    <i class="material-icons">search</i>
  </div>
  <button class="upload">
    <i class="material-icons">file_upload</i>
    Upload
  </button>
  <div class="user">
    <div class="profpic">
      <i class="material-icons">person</i>
    </div>
    <div class="name">
      <h3>Waseem</h3>
      <h4>Arshad</h4>
    </div>
    <div class="badge">23</div>
  </div>
  <div class="menu">
    <i class="material-icons" (click)="setToggleMenu(true)">menu</i>
  </div>
</div>
